@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



/* ||CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../img/gymguy.jpg");
    background-repeat: repeat-y;
    background-position: center;
    background-size: cover;
    font-family: "Nunito", sans-serif;
   min-height: 100vh;
    font-size: 1.5rem;
    color: white;
}

/* ||HEADER STYLING */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 30vh;
    margin-left: 35px;
    margin-right: 35px;
    /* margin-top: 12px; */
    position: sticky;
    top: 0;
   background-color: rgba(0, 0, 0, 0.538);
   z-index: 1;
   backdrop-filter: blur(5px);

}

.header-left {
    transition: all ease-in-out 200ms;
}

.header-left:hover {
    scale: 1.1;

}

.logo {
    max-height: 50px;
    /* width: 100%; */
    scale: 1.8;
    margin-top:0.75rem ;

}

.logo:hover {
    cursor: pointer;

}

.logo-name {
    position: relative;
    bottom: 11px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 119, 0);
    text-align: center;
}

.logo-name:hover {
    cursor: pointer;
}

.header-mid {}

.mid-navbar {
    display: flex;
    gap: 5rem;
    width: 36%;
}

li {
    list-style-type: none;
    transition: all ease-in-out 200ms;

}

li a {
    text-decoration: none;
    color: white;
    transition: all ease-in-out 400ms;
    /* font-weight: bold; */
}

li a:hover {
    /* font-weight: ; */
    /* font-size: 20px; */
    color: rgb(255, 119, 0);
    background-color: rgba(0, 0, 255, 0.275);
    border-radius: 10px;
}

li:hover {
    scale: 1.1;
}


.header-right {
    /* background-color:  rgb(255, 119, 0); */
    color: rgb(255, 119, 0);
    border-radius: 15px;
    padding: 0.5rem;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bolder;
    max-height: 50px;
    text-align: center;
    margin-top: 7px;
    transition: all ease-in-out 200ms;
    cursor: pointer;
    border: 2px double blue;
}

.btn {
    display: flex;
    gap: 1rem;
}


.header-right:hover {
    scale: 1.05;
}

.header-right:active {
    scale: 0.95;
}

main{
    min-height:165.5vh ;
}

.text{
    /* border-right: 4px double gray;
    border-bottom: 4px double gray; */
    max-width: max-content;
    border-radius: 15px;
    margin: 20px;
    position: absolute;
    bottom: 60px;
}

.upper-text{
    /* border: 2px solid green; */
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3rem;
    padding: 1rem;
    margin-top: 40px;
    margin-left: 300px;
    text-transform: uppercase;
    color: rgb(203, 212, 24);
    
}



.center-text{
    /* border: 2px solid orange; */
    /* line-height: 40px; */
    padding: 1rem;
    margin-top: 50px;
    margin-left: 300px;
    font-family: 'Bebas Neue', sans-serif; 
    font-size: 64px;
}


.center-text p:nth-child(3)
{
    color: rgb(16, 225, 16);
}

.btn-r-g{
    position: absolute;
    bottom: -1px;
    left: 325px;
    /* backdrop-filter: blur(5px); */
    padding: 1rem;
    display: flex;
    gap: 16px;
   
    
}

.read-more-btn{
    width: 128px;
    height: 64px;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    color: white;
    background-image:linear-gradient( rgb(177, 0, 0), rgb(249, 106, 106));
    font-size: large;
    font-weight: bolder;
    transition: all ease-in-out 250ms;

}

.get-started-btn{
    width: 128px;
    height: 64px;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    color: white;
    background-image: linear-gradient(rgb(0, 135, 0),rgb(105, 252, 82));
    font-size: large;
    font-weight: bolder;
  transition: all ease-in-out 250ms;
}

.read-more-btn:hover{
    cursor: pointer;
    scale: 1.05;
}

.get-started-btn:hover{
    cursor: pointer;
    scale: 1.05;
}

.read-more-btn:active{
    scale: 0.95;
}

.get-started-btn:active{
scale:0.95
}

footer{
/* background-image:linear-gradient(rgba(250, 251, 250, 0.374), black) ; */
backdrop-filter: blur(5px);
/* background-color: black;    */
 min-height:3vw ;
    /* border: 2px solid orange; */
    padding: 0.5rem;
    /* position: fixed;
    top: 50vh; */
}

footer p{
    text-align:center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: underline;
}

.social{
display: flex;
justify-content: space-evenly;
align-items: center;
}

.scl:hover{
scale: 1.1;
}
